
<div class="form-group">
    <label for="{% if id is not defined %}{{ name }}{% else %}{{ id }}{% endif %}" class="col-lg-1 col-sm-2 control-label">{{ text|trans }}</label>
    <div class="col-sm-10 col-lg-11">
        <textarea
            class="form-control"
            name="{{ name }}"
            id="{% if id is not defined %}{{ name }}{% else %}{{ id }}{% endif %}"
        >{% if value is defined %}{{ value }}{% endif %}</textarea>
    </div>
</div>